{% extends 'listings/base.html' %}

{% block content %}
                <h1>Bienvenu sur mon app Django</h1>
                <p>Mes meilleurs groupes sont :</p>
                    <ul>
                        {%for band in bands%}
                            <li>{{band.name|upper}} <p>{{listing.titre}}</p></li>
                        {% endfor %}
                    </ul>
                <p>J'ai donc
                    {% if bands|length < 5 %}
                    peu de 
                    {% elif bands|length  < 10 %}
                    quelques 
                    {% else %}
                    beaucoup de
                    {% endif %}
                     groupes préférés soit {{bands|length}} groupes</p>
{% endblock %}
